.tagAdjective { background-color: #fc6; }
.tagAdverb { background-color: #c99; }
.tagConjunction { background-color: #cc9; }
.tagDeterminer { background-color: #99c; }
.tagInterjection { background-color: #6f6; }
.tagNoun { background-color: #ccc; }
.tagNumber { background-color: #6c9; }
.tagPreposition { background-color: #f9c; }
.tagPronoun { background-color: #ee7; }
.tagVerb { background-color: #cf6; }
.tagOther { background-color: #fff; }

.ADJECTIVE { background-color: #fc6; }
.ADVERB { background-color: #c99; }
.CONJ { background-color: #cc9; }
.tagDeterminer { background-color: #99c; }
.INTERJECTION { background-color: #6f6; }
.NOUN { background-color: #ccc; }
.NUMBER { background-color: #6c9; }
.PROPN { background-color: #f9c; }
.PRONOUN { background-color: #ee7; }
.VERB { background-color: #cf6; }
.OTHER { background-color: #fff; }

.colors div{
  margin-bottom: 3px;
  padding: 3px 7px 3px 7px;
  border-radius: 3px;
}
.textTagged span{
  margin-top: 3px;
  padding: 3px 7px 3px 7px;
  border-radius: 3px;
}
.textTagged {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding: 4px;
  line-height: 1.8em;
  min-height: 60px;
}
